In [166]:
#import libraries

import pandas as pd
from sqlalchemy import create_engine
import os
import shutil

In [3]:
#create a database connection
engine = create_engine("postgresql+psycopg2://postgres:4991@localhost:5432/udemy_course_database", pool_recycle=-1)
print("connection successful")

connection successful

In [4]:
#create a connection to run sql queries
db_engine = engine.connect()
print("connection successful")

connection successful

In [73]:
#create a function to run queries
def db_query(query:str, db_conn, index_col='course_id'):
    df = pd.read_sql(query, db_conn, index_col)
    return df

**Question 1: Write a query for paid courses, showing the  course with the highest number of subscribers per month**

In [163]:
query = """SELECT month, subject, MAX(total_subscribers) AS highest_subscribers
    FROM 
    (
        SELECT DISTINCT subject, SUM(num_subscribers:: INTEGER) AS total_subscribers,
        to_char(published_timestamp, 'Month') AS month
        FROM udemy_course_table
        WHERE is_paid='TRUE'
        GROUP BY subject, month
    ) AS sub_table
GROUP BY 1, 2
ORDER BY 1"""

df = db_query(query, db_engine, index_col='subject')
df

                         month  highest_subscribers
subject
Business Finance     April                    77126
Graphic Design       April                    65782
Musical Instruments  April                    61420
Web Development      April                   318826
Web Development      August                  449884
Graphic Design       August                   61471
Business Finance     August                   67856
Musical Instruments  August                  111052
Graphic Design       December                 40079
Web Development      December                358151
Musical Instruments  December                 27365
Business Finance     December                 87762
Graphic Design       February                 66072
Web Development      February                468280
Musical Instruments  February                 30067
Business Finance     February                133154
Graphic Design       January                  96603
Business Finance     January                 142993
Musical Instruments  January                  18349
Web Development      January                 418482
Graphic Design       July                     55034
Musical Instruments  July                     26206
Web Development      July                    414186
Business Finance     July                     77711
Graphic Design       June                    115746
Web Development      June                    412607
Business Finance     June                     97358
Musical Instruments  June                     41708
Musical Instruments  March                    32261
Graphic Design       March                    79677
Business Finance     March                   102230
Web Development      March                   645988
Web Development      May                     270032
Musical Instruments  May                      65892
Graphic Design       May                      60867
Business Finance     May                     114597
Business Finance     November                100644
Web Development      November                641189
Graphic Design       November                 47881
Musical Instruments  November                 34752
Web Development      October                 706906
Musical Instruments  October                  71558
Graphic Design       October                  52421
Business Finance     October                 165734
Business Finance     September                98318
Musical Instruments  September                21324
Web Development      September               493300
Graphic Design       September                36694

**Question 2: Write a query for paid courses, showing the course with the highest sales per month**"

In [164]:
query = """SELECT month, subject, total_sales, MAX(total_subscribers) AS highest_subscribers
    FROM 
    (
        SELECT DISTINCT subject, SUM(num_subscribers:: INTEGER) AS total_subscribers, SUM(price) AS total_sales,
        to_char(published_timestamp, 'Month') AS month
        FROM udemy_course_table
        WHERE is_paid='TRUE'
        GROUP BY subject, month
    ) AS sub_table
GROUP BY 1, 2, 3
ORDER BY 1"""

df = db_query(query, db_engine, index_col='subject')
df

                         month  total_sales  highest_subscribers
subject
Musical Instruments  April             5050                61420
Graphic Design       April             3675                65782
Web Development      April             6675               318826
Business Finance     April             5850                77126
Web Development      August            6870               449884
Business Finance     August            5215                67856
Musical Instruments  August            2065               111052
Graphic Design       August            2400                61471
Web Development      December          6390               358151
Business Finance     December          6530                87762
Musical Instruments  December          1960                27365
Graphic Design       December          1810                40079
Musical Instruments  February          2980                30067
Graphic Design       February          3200                66072
Web Development      February          8395               468280
Business Finance     February          7615               133154
Web Development      January           6605               418482
Business Finance     January           7480               142993
Musical Instruments  January           1810                18349
Graphic Design       January           2590                96603
Graphic Design       July              2050                55034
Business Finance     July              5725                77711
Musical Instruments  July              1750                26206
Web Development      July              6460               414186
Web Development      June              8260               412607
Graphic Design       June              4255               115746
Business Finance     June              8345                97358
Musical Instruments  June              2005                41708
Graphic Design       March             3970                79677
Business Finance     March             9335               102230
Musical Instruments  March             3875                32261
Web Development      March             8465               645988
Musical Instruments  May               4175                65892
Web Development      May               8320               270032
Graphic Design       May               4265                60867
Business Finance     May               7615               114597
Musical Instruments  November          3350                34752
Graphic Design       November          2715                47881
Business Finance     November          6810               100644
Web Development      November         10745               641189
Graphic Design       October           2205                52421
Business Finance     October           6745               165734
Musical Instruments  October           3420                71558
Web Development      October           8480               706906
Web Development      September         6775               493300
Graphic Design       September         1735                36694
Business Finance     September         4655                98318
Musical Instruments  September         1260                21324

In [16]:
#close the connection
# connection.close()